@import "../../scss/variables";
.team-details {
    padding: 20px 0;
    .parent {
        background: #fff;
        border-radius: $border-radius;
        padding: $padding;
        margin-top: $margin-top;
        .title {
            img {
                width: $widthImg;
                height: $heightImg;
            }
            h6 {
                color: $gray;
                font-size: $regular-size;
            }
            h2 {
                color: $title;
                font-size: $large-bold;
                font-weight: $bold;
                text-transform: uppercase;
            }
            h5 {
                color: $gray;
                font-size: $medium-light;
            }
        }
        .details-team {
            img {
                width: 100%;
                height: 300px;
                border-radius: $border-radius;
            }
            h1 {
                color: $title;
                font-size: $large-bold;
                font-weight: $bold;
                text-transform: uppercase;
                margin-top: $default-margin-top;
            }
            p {
                font-size: $regular-size;
                color: $gray;
                line-height: 1.5;
            }
            ul {
                li {
                    a {
                        text-decoration: none;
                        margin-right: 1rem;
                        color: $gray;
                        border-radius: $border-radius;
                        box-shadow: $box-shadow;
                    }
                }
            }
        }
        .details-match {
            margin-top: $margin-top;
            h2 {
                font-size: $medium-bold;
                color: $title;
                text-transform: capitalize;
                font-weight: $bold;
            }
            .date-match {
                background-color: $light-background;
                border-radius: $border-curve;
                padding: $padding;
                h4 {
                    margin-bottom: $margin-bottom;
                    font-size: $medium-bold;
                }
                img {
                    width: $widthImg;
                    height: $heightImg;
                    margin-bottom: 10px;
                }
                h6 {
                    text-transform: uppercase;
                    font-size: $regular-size;
                    color: $gray-dark;
                    font-weight: $bold;
                }
                h5 {
                    color: $gray;
                    font-size: $medium-light;
                    margin-top: $margin-top;
                }
            }
        }
    }
}